@{
    ViewData["Title"] = "О нас";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>
    Покупка любого домашнего животного - это большая ответственность, ведь после того, как оно переступит порог вашего дома, вы полностью отвечаете за его здоровье и жизнь. Наиболее ответственным является приобретение кошки. Сначала необходимо взвесить все за и против. Нужно учесть, что кошка- любитель точить свои когти о мебель, а так же гадить дома, но, приложив немного усилий и терпения, можно перевоспитать вашего нового домашнего любимца. Они требуют особого ухода, ласки и внимания. Если вы для себя точно решили завести это домашнее животное, то необходимо сделать правильный выбор во время покупки, чтобы не сожалеть в дальнейшем. Кошка должна быть непременно здоровой, энергичной и веселой, чтобы ваша жизнь стала намного интереснее после ее покупки.
</p>
<p>
    Продажа кошек - это довольно распространенный способ заработка денег. Объявления о продаже кошек можно найти везде, в газетах, на улицах и даже на телевидении. Но, сегодня, наиболее распространенным способом продажи кошек стал интернет. Объявления о продаже котят и кошек выкладываются на доски объявлений. Покупку и продажу котят доска объявлений делает удобнее, ведь этот способ экономит ваше драгоценное время, не нужно выезжать в город, листать всевозможные газеты, в которых располагаются объявления, достаточно всего лишь зайти на наш сайт и выбрать определенную ценовую категорию.
</p>
<p>
    Наши объявления о продаже кошек пользуются большим спросом и обладают преимуществом в том, что объявления о продаже котят и кошек бесплатные. Абсолютно каждый желающий может падать объявление о продаже котят или кошек, его рассмотрят тысячи человек, интересующихся вашим предложением. Вариантов на нашем сайте много. Продаются такие пароды как: Канадские Сфинксы, Британские, Шотландские, Персидские, Европейские, Сибирские, Сиамские, Экзотические, Саванские, Тойгерские и многие другие, перечислять которые придется очень долго. Все кошки разные по всем факторам - характер, привычки, порода, окраска и даже возраст у каждого из представленных животных отличается. Пользуются наибольшим спросом объявления о продаже котят, ведь многие желают начинать воспитывать, растить и наблюдать за животным, недавно появившимся на свет. На нашей доске объявлений продажи котят непременно найдется именно та кошка, которую вы захотите незамедлительно привезти домой.
</p>
<p>
    Бесплатные объявления о продаже котят на нашем сайте пополняются очень часто, посетителей насчитывается в день достаточно много. В каждом объявлении добавлены фотографии животного, чтобы вы имели полное визуальное представление о нем. Чтобы узнать больше информации по поводу животного - возрасте, его расположении и даже прошлом, авторы объявления пишут специальный текст, а так же, добавляют свою контактную информацию, имя и место проживания. Контактная информация нужна для того, чтобы можно было связаться и узнать подробнее информацию, касающуюся определенной кошки.
</p>
<p>
    Для того, чтобы выставить бесплатное объявление о продаже кошки, необходимо зайти на сайт, зарегистрироваться и зайти в раздел “Объявления”, добавляем туда объявление, добавив краткую информацию, касающуюся вашего домашнего животного, добавляем фотографию и ждем. Дать объявления о продаже котят и кошек можно в любое время на нашем сайте.
</p>
<p>
    В покупке и продаже котят, доска объявлений стала распространенным способом, в котором сам процесс продажи кошек и их покупки происходит очень быстро, так как аудитория нашего сайта очень большая и растет она каждый день. Продажей котят доска объявлений на нашем сайте занимается довольно долго. Если вас интересует покупка котят или продажа котят, доска бесплатных объявлений о кошках и котятах, расположенная на нашем сайте всегда поможет каждому желающему.
</p>
