@{
    ViewData["Title"] = "Контактная информация";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <<КУПИКОТА.РФ>><br />
    Фрязино, Индекс: 141195<br />
    <abbr title="Телефон">P:</abbr>
    903.213.33.60
</address>

<address>
    <strong>Поддержка:</strong> <a href="mailto:kupi.cota.company@gmail.com">kupi.cota.company@gmail.com</a><br />
    <strong>Сотрудничество:</strong> <a href="mailto:kupi.cota.company@gmail.com">kupi.cota.company@gmail.com</a>
</address>
